body {
  background-color: #1a2238; /* Bleu foncé professionnel */
  color: #f0f0f0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #16202b !important;
}

.logo {
  font-weight: 700;
  font-size: 1.8rem;
  color: #00bfff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo svg {
  width: 40px;
  height: 40px;
  fill: #00bfff;
}

.card {
  background-color: #2c355e;
  border: none;
  color: #f0f0f0;
}

.star {
  color: gold;
  font-size: 1rem;
}

footer {
  background-color: #16202b;
  color: #888;

}

.star-rating {
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}
.star-rating span {
  transition: color 0.2s;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#apropos {
  background-color: #1a2238;
}

#contact {
  background-color:  #1a2238;
}


.theme-lightblue {
  background-color: #d0f0ff !important;
  color: #000 !important;
}


.theme-dark {
  background-color: #1e1e1e !important;
  color: #fff !important;
}


.theme-custom {
  background: linear-gradient(to right, #ffecd2, #fcb69f) !important;
  color: #333 !important;
}

